<html layout:decorate="~{global/layout}">
<head>
    <title th:text="|글 ${post.id}번|">글 목록</title>
</head>
<body>
<div layout:fragment="content">
    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">글 목록</h1>
        </div>
    </header>
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <label class="text-3xl font-bold tracking-tight text-gray-900"> 제목 </label>
            <span th:text="${post.title}"></span>
    </div>

    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <label class="text-3xl font-bold tracking-tight text-gray-900"> 내용 </label>
            <span th:text="${post.body}"></span>
    </div>

</div>
</body>

