<html layout:decorate="~{global/layout}">
<head>
    <title>내 글 목록</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <div class="rounded-xl border p-3  shadow-md  bg-white">
            <div class="flex w-full items-center justify-between border-b pb-3">
                <div class="flex items-center space-x-3">
                    <div class="text-x font-bold text-slate-700"  >
                        <span class="text-3xl font-bold tracking-tight text-gray-900" >내 글 목록</span>
                    </div>
                </div>
                <div>
                    <form style="display: flex; justify-content: flex-end; gap: 10px;" id="searchForm1">
                        <select name="kwType" id="kwType1">
                            <option value="titleAndBody" >제목+내용</option>
                            <option value="title">제목</option>
                            <option value="body" >내용</option>
                            <option value="authorUsername" >작성자</option>
                        </select>
                        <input type="search" name="kw" placeholder="검색어" >
                        <input type="submit" value="검색">
                    </form>
                </div>
            </div>
            <div class="mt-2 mb-2">
                <table class="table">
                    <thead class="table-dark">
                    <tr class="text-center">
                        <th>번호</th>
                        <th style="width: 50%">제목</th>
                        <th>댓글</th>
                        <th>추천</th>
                        <th>글쓴이</th>
                        <th>작성일시</th>
                        <th>비고</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr >
                    <tr class="text-center" th:each="post, loop : ${posts}">
                        <td th:text="${posts.getTotalElements - (posts.number * posts.size) - loop.index}"></td>
                        <td class="text-center">
                            <a th:href="@{|/post/${post.id}|}" th:text="${post.title}"></a>
                        </td>
                        <td th:text="${post.cmt.size}"></td>
                        <td th:text="${post.likes.size}"></td>
                        <td><span th:if="${post.author != null}" th:text="${post.author.username}"></span></td>
                        <td th:text="${#temporals.format(post.createDate,'yyyy-MM-dd HH:mm')}"></td>
                        <td th:text="${post.isPublished ? '공개' : '비공개'}"></td>
                    </tr>
                    </tbody>
                </table>
                <div style="display:flex; justify-content: center; gap:10px;">
                    <a th:each="num : ${#numbers.sequence(0, posts.totalPages - 1)}" th:href="|?page=${num}|" th:text="${num}+1"></a>
                </div>
            </div>
        </div>
    </div>


</div>
</body>

