<!doctype html>
<html lang="ko" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>으~~잉?</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.5.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link href="https://jhs512.github.io/toastr/toastr.css" rel="stylesheet">

    <link rel="stylesheet" href="/resource/global/global.css">
    <script src="/resource/global/global.js"></script>
</head>
<script>
    const urlParams = getUrlParams(location.href);
</script>
<body>

<th:block layout:fragment="header"></th:block>
<link rel="stylesheet" href="/resource/global/global.css">
<th:block layout:fragment="content"></th:block>
<script>
    $(window).bind("pageshow", function (event) {
        if (sessionStorage.getItem("historyBackErrorMsg")) {
            toastError(sessionStorage.getItem("historyBackErrorMsg"));
            sessionStorage.removeItem("historyBackErrorMsg");
        }
    });
    if (urlParams.infoMsg) {
        toastInfo(urlParams.infoMsg);
    }
    if (urlParams.successMsg) {
        toastSuccess(urlParams.successMsg);
    }
    if (urlParams.warningMsg) {
        toastWarning(urlParams.warningMsg);
    }
    if (urlParams.errorMsg) {
        toastError(urlParams.errorMsg);
    }
</script>
</body>
</html>